#__BVID__174___BV_modal_title_{
    display: none;
}

.title{
    display: none;
}

.ml-auto{
    display: none;
}

#__BVID__174___BV_modal_content_{
    margin-left: 150px;
    margin-right: 150px;
}

.d-flex .btn{
    display: none;
}