@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');


.navbar-brand-container{
  align-items: center;
}

.navbar-item{
  font-size:18px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  float:none;
  color: #000000;
  padding: 10px;
}

.navbar-item:hover{
  color: gray;
}

.body-container{
  text-align: center;
  font-size:64px;
  color: black;
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Montserrat', sans-serif;
  line-height:1.25em;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
}

#dropdownMenuButton{
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
}

#obsidian__username{
  padding: 10px;
  border-color: black;
}

.test-1{
  padding-top: 10px;
  text-align: center;
}

.big-container{
  padding-top: 200px;
}

.body-center-1{
  padding-top: 20px;
  padding-left: 100px;
}

.body-header-1{
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.active {
  font-weight: bold;
  color: black;
}

.search-container{
  width: 29rem;
  height: 100%;
  margin: 0 1rem;
  position: relative;
}

.outer-container{
  display: flex;  
  flex-direction: row;
}

.container1 { 
    border: 3px dashed black; 
    width: 150px; 
    height: 50px;
  }

.container2 {
    border: 3px dashed black; 
    width: 150px; 
    height: 50px;
}

.search-space-1{
  padding: 5px;
  width: 300px;
  margin-right: 200px;
}

.search-space-2{
  padding: 5px;
  width: 300px;
  margin-right: 50px;
}