@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

.navbar-brand {
  font-size:24px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  float:none;
  color: black;
}

.navbar-brand:hover{
  color: black;
}

.navbar-brand-container{
  align-items: center;
}

.navbar-item{
  font-size:20px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  float:none;
  color: #000000;
  padding: 10px;
}

.navbar-item:hover{
  color: gray;
}

.body-container{
  text-align: center;
  font-size:64px;
  color: black;
  padding-top: 30px;
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Montserrat', sans-serif;
  line-height:1.25em;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
}

#dropdownMenuButton{
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
}